{% extends "layout_nonav.html"%}

{% block heading%}

Create Your Brian's Books Account

{% endblock %}


{% block body %}

<div class="container">
    <h4 style="color: gold;">{{ errorMessage }}</h4>
    <form action="{{ url_for('create') }}" method="POST">
        <label for="username" style="font-weight: bold;">User name: </label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password" style="font-weight: bold;">Password: </label><br>
        <input type="password" id="password" name="password"><br>
        <label for="confirmPassword" style="font-weight: bold;">Confirm Password: </label><br>
        <input type="password" id="confirmPassword" name="confirmPassword"><br><br>
        <input type="submit" value="Create">
    </form>
</div>

{% endblock %}