{% extends "layout.html"%}

{% block heading%}

What book are you searching for?

{% endblock %}


{% block body %}
<div class="row">
    <div class="col-lg-6 col-md-12">
        <h4 style="color: gold;">{{ errorMessage }}</h4>
        <form action="{{ url_for('index') }}" method="POST">
            <h4>Search for a book!</h4>
            <input type="radio" id="isbn" name="searchType" value="isbn"><label for="isbn"> ISBN</label>
            <input type="radio" id="title" name="searchType" value="title"><label for="title"> Title</label>
            <input type="radio" id="author" name="searchType" value="author"><label for="author"> Author</label><br>
            <input type="text" id="searchString" name="searchString" size="50" autocomplete="off">
            <input type="submit" value="Search">
        </form>
    </div>

    <div class="col-lg-6 col-md-12">
        <h3>{{ resultTitle }}</h3>
        <table>
            <tr>
                {% for head in header %}
                <th>{{ head }}</th>
                {% endfor %}   
            </tr>
            {% for book in books %}
            <tr>
                <td><a href="{{ url_for('book', book_id=book[0]) }}">{{ book[1] }}</a></td>
                <td>{{ book[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}