<!DOCTYPE html>
<html>
    <head>
        <title>Brian's Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div class="row">
            <div id="nav-box" class="col-md-3 col-sm-6 col-xs-12">

            </div>
            <div id="nav-box" class="col-md-3 col-sm-6 col-xs-12">

            </div>
            <div id="nav-box" class="col-md-3 col-sm-6 col-xs-12">

            </div>
            <div id="nav-box" class="col-md-3 col-sm-6 col-xs-12">
            
            </div>
        </div>
        <h1>{% block heading %}{% endblock %}</h1>
        {%block body%}
        {%endblock%}
    </body>
</html>