<!DOCTYPE html>
<html>
    <head>
        <title>Brian's Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="row">
            <div id="nav-box" class="col-md-3 col-sm-12">
                <a href="{{ url_for('index') }}" class="stretched-link">Search</a>
            </div>
            <div id="nav-box-title" class="col-md-6 col-sm-12" style="font-family: 'Cedarville Cursive', cursive;">
                Brian's Books
            </div>
            <div id="nav-box" class="col-md-3 col-sm-12">
                <a id="page3" href="{{ url_for('logout') }}" class="stretched-link">Logout {{ username }}</a>
            </div>
        </div>
        <h1>{% block heading %}{% endblock %}</h1>
        {%block body%}
        {%endblock%}
    </body>
</html>